[Unit]
Description=AMHD CSV File
After=multi-user.target

[Service]
User=root
Type=simple
WorkingDirectory=/home/blackwings/webtool
Environment="PATH=/home/blackwings/webtool/bin"
ExecStart=/home/blackwings/webtool/bin/python schedule/AMHD/csv/main.py %i

[Install]
WantedBy=multi-user.target