[Unit]
Description=AMHD XLS File
After=multi-user.target

[Service]
Restart=on-failure
RestartSec=5s
User=root
Type=simple
WorkingDirectory=/home/blackwings/webtool
Environment="PATH=/home/blackwings/webtool/bin"
ExecStart=/home/blackwings/webtool/bin/python schedule/AMHD/xls/main.py %i

[Install]
WantedBy=multi-user.target