table {
  border-collapse: collapse;
}

td {
  padding: 8px;
}
.warning {
  background-color: red;
  font-weight: bold;
  border:none;
  border-radius: 4px;
  font-size: larger;
}
.warning:hover {
    background-color:yellow;
}
