[Unit]
Description=uWSGI webtool
After=network.target

[Service]
User=adapter
Group=www

WorkingDirectory=/home/adapter/webtool/webgui
Environment="PATH=/home/adapter/webtool/bin"
ExecStart=/home/adapter/webtool/bin/uwsgi --ini webgui.ini

[Install]
WantedBy=multi-user.target