[Unit]
Description=Celery Service webtool
After=network.target

[Service]
User=root
WorkingDirectory=/home/adapter/webtool/webgui
Environment="PATH=/home/adapter/webtool/bin"
ExecStart=/home/adapter/webtool/bin/celery -A common_celery.background worker -E --concurrency=12
StandardOutput=file:/home/adapter/webtool/webgui/converter.log
StandardError=file:/home/adapter/webtool/converter.log
[Install]
WantedBy=default.target