[Unit]
Description=Celery Service 365ipos
After=network.target

[Service]
User=blackwings
WorkingDirectory=/home/blackwings/365ipos
Environment="PATH=/home/blackwings/365ipos/bin"
ExecStart=/home/blackwings/365ipos/bin/celery -A technical_celery.background worker -E --concurrency=32

[Install]
WantedBy=default.target