[Unit]
Description=Celery Service 365ipos
After=network.target

[Service]
User=blackwings
WorkingDirectory=/home/blackwings/webtool/tool
Environment="PATH=/home/blackwings/webtool/bin"
ExecStart=/home/blackwings/webtool/bin/celery -A tasks.bg.bg worker -E --concurrency=32

[Install]
WantedBy=default.target