<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>POS365 Adapter Config</title>
</head>
<body>
<form method="POST">
    <table>
        <tr hidden>
            <td>Token</td>
            <td><input type="text" value="kt365aA@123" name="token"></td>
        </tr>
        <tr>
            <td>Branch</td>
            <td><input type="text" name="branch" required></td>
        </tr>
        <tr>
            <td>Domain</td>
            <td><input type="text" name="domain" required></td>
        </tr>
        <tr>
            <td>User</td>
            <td><input type="text" name="user" required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" name="password" required></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>

</body>
</html>